<form class='bg-light'>
  <div class="form-group row ">
    <label for="game_id" class="col-sm-3 col-form-label">Game ID</label>
    <div class="col-sm-9">
	   <input class='form-control' id='game_id' type='number' ng-model='game.game_id' />
    </div>
  </div>
   <div class='row'>
    <button class="btn btn-success btn-lg mx-auto" ng-click='join_game()' type='submit'>Join Game</button>
    <button class="btn btn-danger btn-lg mx-auto" ng-click='go_home()' type='button'>Cancel</button>
  </div>
</form>
<hr>
<strong>{{ game.game_id }}</strong>